.example-panel-red.mat-select-panel {
    background: rgba(255, 0, 0, 0.5);
  }
  
  .example-panel-orange.mat-select-panel {
    background: rgb(255, 153, 0);
  }
  
  .example-panel-green.mat-select-panel {
    background: rgba(0, 255, 76, 0.884);
  }